.App {
  font-size: large;
}

.App-header {
  text-align: center;
  height: 100px;
  padding: 10px;
}

.tile {
  height: 160px;
  width: 160px;
  margin: 10px;
  background: lightyellow;
  float: left;
  font-size: 11px;
  text-align: left;
  padding: 4px;
}

.button-notify {
  display: flex;
}

.newIdeaButton {
  background: darkblue;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  padding:10px;
}

.notification {
  font-size: 18px;
  margin: 10px;
  padding: 10px;
}

.input {
  border: 0px;
  background: none;
  outline: none;
  margin-top:10px;
  width: 150px;
  font-size: 11px;
}

.input:focus {
  border: solid 1px lightgrey;
}

textarea {
  resize: none;
  height: 110px;
  font-size: 11px;
}